.register-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #7ea6e7, #c9d8f1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
